@charset "utf-8";

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);

/*font-family: 'Noto Sans KR', sans-serif;

div{font-family:나눔명조, Nanum Myeongjo, georgia,돋움;}
font-family:'Nanum Square', Arial, "돋움", Dotum, AppleGothic}

*/

/******************************************************************************************
	base Style
*******************************************************************************************/
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, span, a,
	table, thead, tfoot, tbody, th, td, form, legend, label, input,
	textarea, address, strong, em, pre, q, abbr, acronym, cite, blockquote,
	object, iframe {
	margin: 0;
	padding: 0;
}

article, aside, canvas, details, figcaption, figure, footer, header,
	hgroup, menu, nav, section, summary {
	display: block;
}

html, body {
	font: 14px 'Noto Sans KR', 'Nanum Square', sans-serif, dotum, Helvetica;
	color: #666;
	line-height: 1;
	-webkit-text-size-adjust: none;
}

img, fieldset, button, hr {
	border: 0;
	margin: 0;
	padding: 0;
}

img {
	vertical-align: top;
	max-width: 100%; /*height:auto;*/
}

ul, ol {
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: normal;
}

select, input, textarea {
	font-size: 100%;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

address {
	font-style: normal;
}

legend, caption {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
}

a:link, a:visited, a:hover, a:active, a:focus {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #cc3300;
}

sub, sup {
	line-height: 0;
}

.hidden {
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	overflow: hidden;
}

.red {
	color: #cc0000;
}

.blue {
	color: #0066cc;
}

.green {
	color: #3c7800;
}

.orange {
	color: #b44800;
}

.fb {
	font-weight: bold;
}

button {
	font-family: 'Nanum Gothic';
	font-size: 14px;
}

/** Color Set */
/*body				{ color:#303030; }*/
a {
	color: #333;
}

a:active {
	color: #00265f;
}

/*align set */
.l {
	text-align: left !important
}

.r {
	text-align: right !important
}

.c {
	text-align: center !important
}

.clr {
	clear: both !important
}

/* space set */
.mg_l5 {
	margin-left: 5px
}

.mg_l10 {
	margin-left: 10px
}

.mg_l13 {
	margin-left: 13px
}

.mg_l15 {
	margin-left: 15px
}

.mg_l20 {
	margin-left: 20px
}

.mg_l25 {
	margin-left: 25px
}

.mg_l30 {
	margin-left: 30px
}

.mg_b5 {
	margin-bottom: 5px !important
}

.mg_b10 {
	margin-bottom: 10px !important
}

.mg_b15 {
	margin-bottom: 15px !important
}

.mg_b20 {
	margin-bottom: 20px !important
}

.mg_b25 {
	margin-bottom: 25px !important
}

.mg_b30 {
	margin-bottom: 30px !important
}

.mg_b35 {
	margin-bottom: 35px !important
}

.mg_b40 {
	margin-bottom: 40px !important
}

.mg_b45 {
	margin-bottom: 45px !important
}

.mg_b50 {
	margin-bottom: 50px !important
}

.mg_b70 {
	margin-bottom: 70px !important
}

.mg_b80 {
	margin-bottom: 80px !important
}

.mg_b90 {
	margin-bottom: 90px;
}

.mg_b100 {
	margin-bottom: 100px;
}

.mg_t5 {
	margin-top: 5px !important
}

.mg_t10 {
	margin-top: 10px !important
}

.mg_t15 {
	margin-top: 10px !important
}

.mg_t20 {
	margin-top: 20px !important
}

.mg_t25 {
	margin-top: 25px !important
}

.mg_t30 {
	margin-top: 30px;
}

.mg_t60 {
	margin-top: 60px;
}

.mg-r9 {
	margin-right: 9px;
}

.mg-rnone input {
	margin-right: 0 !important;
}

/* width set */
.w_10 {
	width: 10px
}

.w_30 {
	width: 30px
}

.w_40 {
	width: 40px
}

.w_50 {
	width: 50px
}

.w_60 {
	width: 60px
}

.w_70 {
	width: 70px
}

.w_80 {
	width: 80px
}

.w_90 {
	width: 90px
}

.w_100 {
	width: 100px
}

.w_110 {
	width: 110px
}

.w_120 {
	width: 120px
}

.w_130 {
	width: 130px
}

.w_150 {
	width: 150px
}

.w_160 {
	width: 160px
}

.w_180 {
	width: 180px
}

.w_200 {
	width: 200px !important
}

.w_250 {
	width: 250px !important
}

.w_300 {
	width: 300px !important
}

.w_350 {
	width: 350px !important
}

.w_400 {
	width: 400px !important
}

.w_500 {
	width: 500px !important
}

.w_600 {
	width: 600px !important
}

.wps_5 {
	width: 5%
}

.wps_10 {
	width: 10%
}

.wps_15 {
	width: 15%
}

.wps_16 {
	width: 16%
}

.wps_20 {
	width: 20%
}

.wps_25 {
	width: 25%
}

.wps_28 {
	width: 28%
}

.wps_30 {
	width: 30%
}

.wps_35 {
	width: 35%
}

.wps_40 {
	width: 40%
}

.wps_43 {
	width: 43%
}

.wps_45 {
	width: 45%
}

.wps_50 {
	width: 50%
}

.wps_55 {
	width: 55%
}

.wps_60 {
	width: 60%
}

.wps_65 {
	width: 65%
}

.wps_70 {
	width: 70%
}

.wps_75 {
	width: 75%
}

.wps_80 {
	width: 80%
}

.wps_85 {
	width: 85%
}

.wps_90 {
	width: 90%
}

.wps_95 {
	width: 95%
}

.wps_100 {
	width: 100%
}