@charset "utf-8";

/******************** pc *****************/
body {
	line-height: 1;
	position: relative;
	left: 0;
	-webkit-transition: left .3s;
	transition: left .3s;
}

/* 메뉴 */
.gnb_menu_pc {
	display: block;
	z-index: 99999;
}

.gnb_menu_mob {
	display: none;
}

/* lnb_menu */
.lnb_menu {
	width: 100%;
	background: #454545;
	height: 28px;
}

.lnb_menu .lnb_wrap {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.lnb_menu .lnb_wrap ul.lnb_con {
	font-family: 'Nanum Gothic', 'Noto Sans KR';
	font-size: 12px;
	position: absolute;
	right: 0;
	padding-top: 8px;
}

.lnb_menu .lnb_wrap ul.lnb_con li {
	position: relative;
	float: left;
	margin-left: 15px;
}

.lnb_menu .lnb_wrap ul.lnb_con li:after {
	display: block;
	content: "";
	position: absolute;
	right: 0;
	top: 2px;
	background: #fff;
	margin-right: -7px;
	width: 1px;
	height: 9px;
}

.lnb_menu .lnb_wrap ul.lnb_con li:last-child:after {
	display: none;
}

.lnb_menu .lnb_wrap ul.lnb_con li a {
	color: #fff;
}

/* gnb_menu */
.header.on {
	position: fixed;
	top: 0;
	background-color: #fff;
	color: #fff;
}

.header {
	z-index: 9999;
	width: 100%;
	height: 87px;
	position: relative;
	box-shadow: rgb(138, 138, 138) 0 2px 3px;
}

h1 {
	position: absolute;
	left: 0;
	top: 25px;
}

.header .gnb_wrap {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	z-index: 100;
	position: relative;
}

.gnb {
	position: absolute;
	right: 0;
	top: 37px;
}

.gnb:after {
	content: "";
	display: block;
	clear: both;
}

.gnb li {
	font-family: 'Nanum Gothic', 'Noto Sans KR';
	font-size: 18px;
	color: #333;
}

.gnb>li {
	float: left;
}

.gnb>li:nth-child(1) {
	width: 144px
}

.gnb>li:nth-child(2) {
	width: 144px
}

.gnb>li:nth-child(3) {
	width: 122px
}

.gnb>li:nth-child(4) {
	width: 122px
}

.gnb>li:nth-child(5) {
	width: 122px
}

.gnb>li:nth-child(6) {
	width: 122px
}

.gnb>li:nth-child(7) {
	width: 100px
}

.gnb li.n2line a {
	line-height: 23px;
	margin: 4px 0 10px 0;
}

.gnb>li:last-child {
	padding-right: 0;
}

.gnb li:hover {
	color: red;
}

.gnb li>a {
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

.gnb .sub a {
	font-size: 14px;
	line-height: 33px;
	margin-bottom: 0;
}

.header .sub_bg {
	z-index: 10;
	box-shadow: rgb(138, 138, 138) 0 3px 3px;
	width: 100%;
	height: 330px;
	position: absolute;
	top: 100%;
	margin-top: -5px !important;
	background: #fff;
}

/* 위로가기 */
.topBt {
	position: fixed;
	bottom: 50px;
	right: -80px;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	z-index: 3500;
	font-size: 13px;
	letter-spacing: -9999px;
	overflow: hidden;
	color: #fff;
	line-height: 1;
	transition: all .3s ease;
}

.topBt span {
	color: #fff;
}

.topBt:before {
	content: "";
	display: block;
	width: 27px;
	height: 30px;
	margin: 17px auto 8px;
	background: url(../images/common/arr_top.png) no-repeat 0 0;
}

.topBt.over {
	background: #023368;
	right: 20px;
}

/* footer */
.footer {
	width: 100%;
	border-top: 1px solid #c5c5c5;
}

.footer .footer_wrap {
	width: 1200px;
	margin: 0 auto;
}

.footer .fot_into {
	padding: 30px 0 18px 0;
}

.footer .fot_into:after {
	display: block;
	content: "";
	clear: both;
}

.footer .fot_into li {
	position: relative;
	margin-right: 62px;
	color: #333;
	float: left;
	font-size: 15px;
}

.footer .fot_into li:after {
	right: -31px;
	top: 2px;
	position: absolute;
	display: block;
	content: "";
	background: #b2b2b2;
	width: 1px;
	height: 13px;
}

.footer .fot_into li:last-child {
	margin-right: 0;
}

.footer .fot_into li:last-child:after {
	display: none;
}

.footer .fot_addr {
	padding-bottom: 30px;
}

.footer .fot_addr:after {
	display: block;
	content: "";
	clear: both;
}

.footer .fot_addr .fot_l {
	float: left;
	margin: 3px 39px 0 0;
}

.footer .fot_addr .fot_r {
	float: left;
	color: #535353;
	font-size: 13px;
	line-height: 21px;
}

/******************** pad *****************/
@media all and (max-width:1000px) {
	/* 메뉴 */
	.header {
		height: 68px;
	}
	.gnb_menu_pc, .header {
		border-top: 2px solid #454545;
	}
	.gnb_menu_pc, .header, .gnb_wrap {
		width: 100%;
	}
	.gnb_wrap h1 img {
		width: 210px;
	}
	.gnb_menu_pc .gnb {
		display: none;
	}
	.gnb_menu_mob {
		display: block;
	}
	.header .gnb_wrap {
		width: 100%;
	}
	h1 {
		position: static;
		text-align: center;
		padding-top: 17px;
	}
	.header.on {
		position: relative;
	}

	/* lnb_menu */
	.lnb_menu {
		display: none;
	}
	#menu .PC_navigation {
		display: none;
	}
	body.open {
		left: 0;
	}
	div.black {
		background: rgba(0, 0, 0, 0.9);
		height: 100%;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 9999;
		display: none;
	}
	div.black.open {
		display: block;
	}
	div.white {
		transition: all .3s;
		background: #fff;
		height: 100%;
		width: 240px;
		position: fixed;
		top: 0;
		left: -240px;
		z-index: 9999;
	}
	div.white.open {
		left: 0;
	}
	#menu .menu-icon.open {
		left: 258px;
		top: 16px;
		width: 26px;
		height: 25px;
		background: url(../images/common/mob_btnmenu_close.png) no-repeat 0 0;
		z-index: 99999999;
	}
	#menu a.menu-icon {
		position: absolute;
		top: 27px;
		left: 14px;
		z-index: 9999;
		background: url(../images/common/mob_menu_con.png) no-repeat 0 0;
		width: 23px;
		height: 18px;
		text-indent: -9999px;
	}
	#menu .m_search {
		background: url(../images/common/mob_login_con.png) no-repeat 0 0;
		width: 22px;
		height: 24px;
		position: absolute;
		top: 23px;
		right: 14px;
		z-index: 9999;
		text-indent: -9999px;
	}
	#menu .Mob_navigation {
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		left: -250px;
		transition: all .3s;
		width: 240px;
		background: #fff;
		z-index: 99999;
	}
	#menu .Mob_navigation.open {
		height: 100%;
	}
	#menu .Mob_navigation .mob_top {
		padding: 15px;
	}
	#menu .Mob_navigation .mob_top .txt {
		font-size: 12px;
		line-height: 16px;
	}
	#menu .Mob_navigation .mob_topbtn {
		margin-top: 5px;
	}
	#menu .Mob_navigation .mob_topbtn:after {
		display: block;
		content: '';
		clear: both;
	}
	#menu .Mob_navigation .mob_topbtn li {
		float: left;
	}
	#menu .Mob_navigation .mob_topbtn li a {
		display: inline-block;
		border-radius: 3px;
		padding: 5px;
		font-size: 12px;
		transition: background .3s;
	}
	#menu .Mob_navigation .mob_topbtn li.mob_login a {
		margin-right: 3px;
		border: 1px solid #333;
		background: #333;
		color: #fff;
	}
	#menu .Mob_navigation .mob_topbtn li.mob_login a:hover {
		background: #555;
	}
	#menu .Mob_navigation .mob_topbtn li.mob_join a {
		border: 1px solid #ccc;
	}
	#menu .Mob_navigation.open {
		display: block;
		left: 0;
	}
	#menu .Mob_navigation p.mobmenutit {
		height: 70px;
		color: #fff;
		background: url(/common/images/cmm/submenu_bg.png) no-repeat 0 0;
		text-align: center;
		font-size: 30px;
		font-weight: 600;
		border-bottom: 3px solid #031767;
		padding-top: 40px;
	}
	#menu .Mob_navigation ul.side-menu {
		border-top: 1px solid #ccc;
		z-index: -1;
		-webkit-transition: right .3s;
		transition: right .3s;
	}
	#menu .Mob_navigation ul.side-menu li.depth1 {
		border-bottom: 1px solid #ccc;
	}
	#menu .Mob_navigation ul.side-menu li.depth1>a {
		font-size: 13px;
		color: #333;
		display: block;
		text-align: left;
		line-height: 50px;
		padding: 0px 15px;
	}
	#menu .Mob_navigation ul.side-menu li.depth1>a.off {
		
	}
	#menu .Mob_navigation ul.side-menu li.depth1>a.on {
		color: #333;
		font-weight: 500;
	}
	#menu .Mob_navigation ul.side-menu li.depth1>ul {
		background: #384c62;
	}
	#menu .Mob_navigation ul.side-menu li.depth2 {
		display: block;
		border-bottom: 1px solid #2D445D;
	}
	#menu .Mob_navigation ul.side-menu li.depth2:last-child {
		border-bottom: none;
	}
	#menu .Mob_navigation ul.side-menu li.depth2>a {
		font-size: 13px;
		display: block;
		color: #f9f9f9;
		line-height: 40px;
		text-align: left;
		padding-left: 10px;
		/* background:url(../images/common/mob_menu01bg.png) no-repeat; background-position:210px 16px; -webkit-transition: background-position .3s;  transition: background-position .3s; */
	}
	#menu .Mob_navigation ul.side-menu li.depth2>a.on {
		/* background:url(../images/common/mob_menu01bg.png) no-repeat; background-position:210px -36px; */
		
	}
	#menu .Mob_navigation ul.side-menu li.depth2>ul {
		padding: 10px 0px;
		background: #efefef;
	}
	#menu .Mob_navigation ul.side-menu li.depth3 {
		display: block;
	}
	#menu .Mob_navigation ul.side-menu li.depth3>a {
		display: block;
		color: #666;
		line-height: 30px;
		text-align: left;
		padding-left: 20px;
		/* background:url(/common/images/cmm/mob_menubul02.png) no-repeat 12px 15px; */
	}
	#menu .mob_search {
		box-sizing: border-box;
		background: #2d82b8;
		height: 70px;
	}
	#menu .mob_search p.txt {
		padding-top: 25px;
		color: #fff;
		text-align: center;
	}
	#menu .mob_search .mob_search_frm {
		text-align: center;
	}
	#menu .mob_search .mob_search_frm input[type='text'] {
		position: absolute;
		left: 31px;
		top: 24px;
		color: #fff;
		border: 0;
		border-bottom: 1px solid #fff !important;
		background: #2d82b8;
		width: 143px;
		font-size: 13px;
		padding: 2px 5px 2px 5px;
	}
	#menu .mob_search .mob_search_frm button {
		position: absolute;
		right: 37px;
		top: 22px;
		cursor: pointer;
		background: none;
		border: 0;
	}
	#menu .mob_search .mob_search_frm button img {
		width: 19px;
		padding-bottom: 3px;
		border-bottom: 1px solid #fff;
	}

	/* footer */
	.footer .footer_wrap {
		width: auto;
		padding: 0 20px;
	}
	.footer .fot_into {
		padding: 20px 0 8px 0;
	}
	.footer .fot_into li {
		margin-bottom: 8px;
		font-size: 13px;
		margin-right: 20px;
	}
	.footer .fot_addr .fot_l {
		display: none;
	}
	.footer .fot_addr .fot_r {
		float: none;
	}
	.footer .fot_into li:after {
		height: 11px;
		right: -11px;
	}
	.footer .fot_addr .fot_r {
		font-size: 12px;
		line-height: 17px;
	}
	.footer .fot_addr {
		padding-bottom: 20px;
	}
}

/******************** mob *****************/
@media all and (max-width:767px) {
	/* footer */
	.footer .footer_wrap {
		padding: 0 10px;
	}
	.footer .fot_into {
		padding: 15px 0 8px 0;
	}
	.footer .fot_addr {
		padding-bottom: 15px;
	}

	/* top */
	.topBt {
		width: 50px;
		height: 50px;
	}
	.topBt:before {
		margin: 15px auto 8px;
		background: url("../images/common/arr_top.png") no-repeat center 0;
		background-size: 19px;
	}
}