@charset "utf-8";

/******************** pc *****************/

/* visual */
.visual {
	width: 100%;
	background: url(../images/main/visual.png) no-repeat;
	height: 474px;
	background-size: 100% 100%;
}

.visual .visual_wrap {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.visual .search_wrap {
	box-sizing: border-box;
	margin: 0 auto;
	width: 919px;
	height: 140px;
}

.visual .search_bg {
	background: url(../images/main/search_bg.png) no-repeat 0 0;
	margin: 0 auto;
	width: 919px;
	height: 140px;
}

.visual .search_title {
	padding: 25px 0 13px 30px;
	font-size: 20px;
	color: #fff;
}

.visual .search_form {
	padding: 0 30px;
	position: relative;
}

.visual .search_form input {
	border: 0;
	box-sizing: border-box;
	padding-left: 10px;
	width: 100%;
	height: 47px;
	border-radius: 5px;
}

.visual .m_search {
	right: 42px;
	top: 14px;
	background: none;
	cursor: pointer;
	position: absolute;
}

.visual .visual_title {
	padding: 104px 0 47px 0;
}

/* bujun_news */
.bujun_news_wrap {
	width: 100%;
	background: #254e88;
	position: relative;
	overflow: hidden;
}

.bujun_news {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.bujun_news .title {
	padding-top: 100px;
	color: #fff;
}

.bujun_news .title .m_tit {
	font-size: 30px;
	margin-bottom: 16px;
}

.bujun_news .title .s_tit {
	font-size: 18px;
	font-weight: 200;
	padding-bottom: 56px;
}

/* popup */
#popup {
	width: 469px;
	height: 331px;
	background: #fff;
	position: relative;
}

#popup #popPrev {
	position: absolute;
	bottom: 8px;
	left: 14px;
	z-index: 4;
}

#popup #popNext {
	position: absolute;
	bottom: 8px;
	right: 14px;
	z-index: 4;
}

#popup #popStop {
	position: absolute;
	bottom: 8px;
	right: 55px;
	z-index: 4;
}

#popup .pop_count {
	margin-left: -18px;
	color: #fff;
	position: absolute;
	bottom: 18px;
	left: 50%;
	z-index: 4;
}

#popup .control_bg {
	bottom: 0;
	width: 100%;
	z-index: 3;
	height: 53px;
	background: #000;
	position: absolute;
	opacity: 0.5;
}

.bujun_news_wrap .bujun_wr, .bujun_news_wrap .bujun_wl {
	z-index: 2;
	position: relative;
	padding-bottom: 100px;
}

.bujun_news_wrap .bujun_wl {
	float: left;
}

.bujun_news_wrap .bujun_wr {
	float: right;
}

.bujun_news_wrap:after {
	display: block;
	content: "";
	clear: both;
}

.news_bg_1, .news_bg_2, .news_bg_3 {
	display: block;
	position: absolute;
	z-index: 1;
}

.news_bg_1 {
	top: 116px;
	left: -128px;
	width: 387px;
	height: 386px;
	background: url(../images/main/visual_con01.png) no-repeat 0 0;
}

.news_bg_2 {
	top: 0;
	right: 116px;
	width: 112px;
	height: 112px;
	background: url(../images/main/visual_con02.png) no-repeat 0 0;
}

.news_bg_3 {
	bottom: 28px;
	right: -23px;
	width: 213px;
	height: 213px;
	background: url(../images/main/visual_con03.png) no-repeat 0 0;
}

/*공지사항*/
#main_notice {
	background: #fff;
	width: 715px;
	height: 331px;
	z-index: 100;
	position: relative;
	margin-left: 12px;
}

#main_notice .main_notice_line {
	border: 1px solid #c5c5c5;
	height: 330px;
	margin: 0;
	background: url(/common/images/main/main_notice_bg.jpg) repeat-x;
}
/*#main_notice_div {margin:20px; position:relative; }*/
#main_notice>div h3 a {
	width: 218px;
	padding: 17px 0 16px 0;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: #333;
}

#main_notice>div h3 a.on, #main_notice>div h3 a:hover {
	background: #0067d4;
	color: #fff;
}

#main_notice>div h3.nt_01 {
	position: absolute;
	top: 0;
	left: 1px;
}

#main_notice>div h3.nt_01 a {
	margin-top: 1px;
	display: block;
	border-right: 1px solid #c5c5c5;
}

#main_notice>div h3.nt_02 {
	position: absolute;
	top: 0;
	left: 220px;
}

#main_notice>div h3.nt_02 a {
	margin-top: 1px;
	display: block;
	border-right: 1px solid #c5c5c5;
}

#main_notice>div h3.nt_03 {
	position: absolute;
	top: 0;
	left: 439px;
}

#main_notice>div h3.nt_03 a {
	margin-top: 1px;
	display: block;
	border-right: 1px solid #c5c5c5;
}

#main_notice>div div.ncons {
	border-top: 1px solid #c5c5c5;
	position: absolute;
	top: 50px;
	width: 100%;
	display: none;
}

#main_notice>div div.ncons ul {
	padding: 18px 25px;
}

span.first_title {
	padding-top: 12px;
	display: block;
	margin-bottom: 2px;
}

span.text {
	word-break: keep-all;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 17px;
	font-size: 13px;
	color: #707070;
	line-height: 18px;
	font-weight: normal;
}

#main_notice>div div.ncons ul li {
	clear: both;
	background: url(/common/images/main/bul_notice.png) no-repeat 0 45%;
	padding-left: 12px;
	height: 24px;
	line-height: 24px;
	margin-bottom: 5px;
}

#main_notice>div div.ncons ul li a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-wrap: normal;
	float: left;
	font-size: 14px;
	width: 83%;
	height: 24px;
	line-height: 24px;
}

#main_notice>div div.ncons ul li span.main_date {
	float: right;
	font-size: 13px;
	color: #999;
}

#main_notice>div div.ncons a.more {
	position: absolute;
	top: -39px;
	right: 16px;
}

/* book */
.book_con {
	width: 100%;
	background: #f1f1f1;
}

.book_con .book_con_wrap {
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 85px;
}

.book_con .book_con_wrap:after {
	content: "";
	display: block;
	clear: both;
}

.book_con .book_con01, .book_con .book_con02, .book_con .book_con03 {
	margin-top: 88px;
	position: relative;
	float: left;
	box-sizing: border-box;
}

.book_con .book_con01 {
	width: 147px;
	margin-right: 57px;
}

.book_con_wrap .tit {
	font-size: 24px;
	color: #333;
	margin-bottom: 36px;
}

.book_con .book_title {
	margin-top: 23px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-wrap: normal;
}

.book_con .book_img {
	width: 145px;
	height: 208px;
}

.book_con .book_img img {
	width: 100%;
	border: 1px solid #dedede;
	height: 100%;
}

.book_con02 {
	margin-right: 92px;
}

.book_con02 .book_list li {
	float: left;
	margin-right: 27px;
}

.book_con02 .book_list li:last-child {
	margin-right: 0;
}

.book_con02 .book_list:after {
	display: block;
	content: "";
	clear: both;
}

.book_con_wrap .more {
	position: absolute;
	right: 0;
	top: 9px;
}

.book_con_wrap .more a {
	color: #666;
}

.book_con03 {
	width: 410px;
}

.book_con03 .schedule {
	width: 100%;
}

.book_con03 .schedule thead {
	color: #333;
	font-weight: 300 !important;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

.book_con03 .schedule thead th {
	line-height: 35px;
}

.book_con03 .schedule td div {
	height: 32px;
	line-height: 27px;
	text-align: center;
}

.book_con03 .schedule .sun {
	color: #ed1c24;
}

.book_con03 .schedule .sat {
	color: #0067d4;
}

.book_con03 .holiday {
	color: #fff;
	background: url(../images/main/holiday_bg.png) no-repeat center 0;
}

.book_con03 .event {
	color: #fff;
	background: url(../images/main/event_bg.png) no-repeat center 0;
}

.book_con03 .schedule_info {
	position: absolute;
	right: 0;
}

.book_con03 .schedule_info ul:after {
	content: "";
	display: block;
	clear: both;
}

.book_con03 .schedule_info ul li {
	float: left;
	padding: 3px 0 3px 24px;
}

.book_con03 .schedule_info ul li:nth-child(1) {
	margin-right: 10px;
	background: url(../images/main/holiday_bg.png) no-repeat;
	background-size: 20px;
}

.book_con03 .schedule_info ul li:nth-child(2) {
	background: url(../images/main/event_bg.png) no-repeat;
	background-size: 20px;
}

/* quick menu */
.quick {
	width: 100%;
	background: #8bb875;
}

.quick .quick_wrap {
	width: 1200px;
	margin: 0 auto;
}

.quick .quick_wrap:after {
	display: block;
	content: "";
	clear: both;
}

.quick .quick_menu {
	width: 978px;
	float: right;
	padding: 54px 0 44px 0;
}

.quick .quick_menu:after {
	display: block;
	content: "";
	clear: both;
}

.quick .quick_menu li {
	margin-bottom: 10px;
	float: left;
	box-sizing: border-box;
	width: 186px;
	margin-right: 12px;
}

.quick .quick_menu li:nth-child(5n) {
	margin-right: 0;
}

.quick .quick_menu li a {
	transition: all .3s ease;
	background: #fff;
	display: block;
	border: 1px solid #ddd;
}

.quick .quick_menu li:last-child {
	margin-right: 0;
}

.quick .quick_menu li span.txt {
	padding: 22px 18px 22px 57px;
	width: auto;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-wrap: normal;
}

.quick .quick_menu li:nth-child(1) a, .quick .quick_menu li:nth-child(2) a,
	.quick .quick_menu li:nth-child(3) a, .quick .quick_menu li:nth-child(4) a,
	.quick .quick_menu li:nth-child(5) a, .quick .quick_menu li:nth-child(6) a,
	.quick .quick_menu li:nth-child(7) a, .quick .quick_menu li:nth-child(8) a,
	.quick .quick_menu li:nth-child(9) a, .quick .quick_menu li:nth-child(10) a
	{
	background-position: 19px center;
	background-repeat: no-repeat;
}

.quick .quick_menu li:nth-child(1) a {
	background-image: url(../images/main/quick_con01.png);
}

.quick .quick_menu li:nth-child(2) a {
	background-image: url(../images/main/quick_con02.png);
}

.quick .quick_menu li:nth-child(3) a {
	background-image: url(../images/main/quick_con03.png);
}

.quick .quick_menu li:nth-child(4) a {
	background-image: url(../images/main/quick_con04.png);
}

.quick .quick_menu li:nth-child(5) a {
	background-image: url(../images/main/quick_con05.png);
}

.quick .quick_menu li:nth-child(6) a {
	background-image: url(../images/main/quick_con06.png);
}

.quick .quick_menu li:nth-child(7) a {
	background-image: url(../images/main/quick_con07.png);
}

.quick .quick_menu li:nth-child(8) a {
	background-image: url(../images/main/quick_con08.png);
}

.quick .quick_menu li:nth-child(9) a {
	background-image: url(../images/main/quick_con09.png);
}

.quick .quick_menu li:nth-child(10) a {
	background-image: url(../images/main/quick_con10.png);
}

.quick .quick_menu li a:hover {
	background-color: #eee;
	color: #0067d4;
	font-weight: 500;
}

.quick_wrap .tit {
	box-sizing: border-box;
	width: 208px;
	float: left;
	padding: 60px 0 0 52px;
	color: #fff;
	font-size: 26px;
	background: url(../images/main/quick_scon.png) no-repeat 0 64px;
}

.quick_wrap .tit span {
	display: block;
	font-weight: 500;
}

/* banner */
.banner {
	height: 79px;
	position: relative;
}

.banner #foot_banner {
	width: 1200px;
	margin: 0 auto;
}

.banner_control button {
	margin-left: -3px;
	cursor: pointer;
}

.banner_title {
	font-size: 17px;
	padding: 20px 15px 0 0;
	float: left;
	margin-top: 15px;
}

.caroufredsel_wrapper {
	margin-top: -36px;
	margin-right: -15px;
}

.banner ul {
	float: right;
	overflow: hidden;
	position: relative;
	width: 992px;
	height: 45px;
	margin-top: -13px;
	margin-right: 10px;
}

.banner ul li {
	float: left;
	margin-right: 10px;
}

.banner ul li:last-child {
	margin-right: 0 !important;
}

.banner_control {
	padding-top: 36px;
}

.banner_control a {
	float: left;
	margin-right: 7px;
}

.banner_control a:last-child {
	margin-right: 0 !important;
}

/******************** pad *****************/
@media all and (max-width:1000px) {
	.visual {
		display: none;
	}

	/* 소식 */
	.bujun_news_wrap {
		overflow: visible;
	}
	.bujun_news_wrap .bujun_news {
		width: 100%;
	}
	.bujun_news_wrap .bujun_wl {
		float: none;
		background: #eee;
	}
	.bujun_news_wrap .bujun_wr, .bujun_news_wrap .bujun_wl {
		padding-bottom: 0;
	}
	.bujun_wl_bg {
		padding: 20px;
	}
	#popup {
		width: 100%;
	}
	#popup span img {
		width: 100%;
		height: 331px;
	}
	#main_popup_zone, #main_popup_zone span {
		width: 100% !important;
	}
	.bujun_news .title {
		display: none;
	}
	.bujun_news_wrap .bujun_wr {
		float: none;
		padding: 20px;
	}
	#main_notice {
		margin-left: 0;
		width: 100%;
	}
	.news_bg_3 {
		display: none;
	}

	/* book */
	.book_con_wrap .tit {
		font-size: 18px;
		margin-bottom: 23px;
	}
	.book_con .book_con_wrap {
		width: auto;
		padding-bottom: 56px;
	}
	.book_con .book_con01 {
		display: none;
	}
	.book_con .book_con01, .book_con .book_con02, .book_con .book_con03 {
		float: none;
		margin-top: 30px;
	}
	.book_con02 {
		margin-right: 0;
	}
	.book_con02 .book_list li {
		width: 32%;
		box-sizing: border-box;
		margin-right: 15px;
		margin-right: 2%;
	}
	.book_con02 .book_list li:last-child {
		margin-right: 0;
	}
	.book_con .book_img {
		width: 100%;
		height: 100%;
	}
	.book_con02 {
		background: #fff;
	}
	.book_con02 .con02_mob {
		padding: 0 20px 30px 20px;
	}
	.book_con03 {
		padding: 0 20px;
		width: 100%;
	}
	.book_con_wrap .more {
		right: 20px;
	}
	.book_con03 .schedule_info {
		right: 20px;
	}

	/* quick menu */
	.quick .quick_wrap {
		width: auto;
		padding: 20px;
	}
	.quick .quick_menu {
		width: 100%;
		float: none;
		padding: 20px 0 0 0;
	}
	.quick .quick_menu li {
		width: 24.25%;
		margin-right: 1%;
	}
	.quick .quick_menu li:nth-child(4n) {
		margin-right: 0;
	}
	.quick .quick_menu li:nth-child(5n) {
		margin-right: 1%;
	}
	.quick .quick_menu li a:hover {
		background-color: #eee;
		color: #0067d4;
		font-weight: 500;
	}
	.quick_wrap .tit {
		width: 100%;
		float: none;
		padding: 2px 0 8px 35px;
		font-size: 18px;
		background: url(../images/main/quick_scon.png) no-repeat 0 0;
		background-size: 28px;
	}
	.quick_wrap .tit span {
		display: inline-block;
	}
	.book_con02 .con02_mob {
		padding: 0 10px 20px 10px;
	}
	.book_con_wrap .more {
		right: 10px;
	}
	.book_con03 {
		padding: 0 10px;
	}
	.book_con03 .schedule_info {
		right: 10px;
	}
	.book_con .book_con01, .book_con .book_con02, .book_con .book_con03 {
		margin-top: 20px;
	}
	.book_con .book_con_wrap {
		padding-bottom: 45px;
	}
	.book_con_wrap .more {
		top: 3px;
	}

	/* banner */
	.banner {
		display: none;
	}
}

/******************** mob *****************/
@media all and (max-width:767px) {
	/* 팝업/공지사항 */
	.bujun_wl_bg {
		padding: 15px 10px;
	}
	.bujun_news_wrap .bujun_wr {
		padding: 25px 10px;
	}
	#main_notice>div h3 a {
		width: auto;
		padding: 17px 30px 16px 30px;
	}
	#main_notice>div h3.nt_02 {
		left: 121px;
	}
	#main_notice>div h3.nt_03 {
		display: none;
	}

	/* 퀵메뉴 */
	.quick .quick_wrap {
		padding: 15px 10px 6px 15px;
	}
	.quick .quick_menu li {
		width: 32.60%;
	}
	.quick .quick_menu li:nth-child(4n) {
		margin-right: 1%;
	}
	.quick .quick_menu li:nth-child(3n) {
		margin-right: 0;
	}
}

/******************** mob - 500 *****************/
@media all and (max-width:500px) {
	/* 퀵메뉴 */
	.quick .quick_menu li {
		width: 49.5%;
	}
	.quick .quick_menu li:nth-child(2n) {
		margin-right: 0 !important;
	}
	.quick .quick_menu li:nth-child(3n) {
		margin-right: 1%;
	}
}