@charset "utf-8";

/******************** pc *****************/
.sub_visual {
	width: 100%;
	height: 160px;
	background: url(../images/sub/sub_img01.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 95% 45%;
}

.sub_visual .sub_visual_wrap {
	width: 1200px;
	margin: 0 auto;
}

.sub_visual .sub_visual_wrap .txt {
	text-align: right;
	padding-top: 27px;
}

.sub_content {
	width: 100%;
}

.sub_content .sub_content_wrap {
	width: 1200px;
	margin: 0 auto 40px auto;
}

.sub_content .sub_content_wrap:after {
	display: block;
	content: "";
	clear: both;
}

.sub_content .sub_content_wrap .l_menu_wrap, .sub_content .sub_content_wrap .sub_con
	{
	float: left;
	width: 980px;
}

.sub_content .sub_content_wrap .l_menu_wrap {
	width: 220px;
}

.sub_content .sub_content_wrap .lm_top {
	text-align: center;
	background: url(../images/sub/lmenu_bg.jpg) no-repeat;
	height: 149px;
}

.sub_content .sub_content_wrap .lm_top .n01 {
	color: #fff;
	padding-top: 54px;
	font-size: 22px;
	font-weight: 500;
}

.sub_content .sub_content_wrap .lm_top .n02 {
	color: #6abbee;
	font-size: 13px;
	margin-top: 8px;
}

/** =======================
 * Contenedor Principal
 ===========================*/
.accordion {
	margin: 0 auto 20px;
	background: #FFF;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 16px 15px 16px 21px;
	color: #222;
	font-size: 14px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.accordion li i.fa-chevron-down {
	background: url(../images/sub/left_arr01.png) no-repeat;
	width: 6px;
	height: 12px;
}

.accordion .link:hover {
	color: #fff;
	background: #384c62;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 18px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 16px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #fff;
	background: #384c62;
}

.accordion li.open i {
	color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.accordion li .submenu {
	padding: 12px 0;
}

.accordion li.default .submenu {
	display: block;
	padding: 12px 0;
}

/**
 * Submenu
 -----------------------------*/
.submenu {
	display: none;
	background: #efefef;
	font-size: 13px;
}

.submenu li {
	position: relative;
}

.submenu li:after {
	top: 50%;
	left: 21px;
	position: absolute;
	display: block;
	content: "";
	width: 4px;
	height: 4px;
	background: #b4b9bd;
	border-radius: 50%;
}
/*  .submenu li:nth-child(1) a {padding-top:10px;}
  .submenu li:last-child a {padding-bottom:10px;} */
.submenu li a {
	padding: 0 15px 0 31px;
	line-height: 28px;
}

.submenu a {
	display: block;
	text-decoration: none;
	color: #333;
	padding: 12px;
	padding-left: 42px;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	font-weight: 300;
}

.submenu a:hover {
	text-decoration: underline;
}

.accordion  li.open .submenu li.on a {
	text-decoration: underline;
}

.sub_content_wrap .sub_con .rsub {
	padding: 50px 0 0 50px;
}

/* location */
.sub_con .loca ul:after {
	display: block;
	content: "";
	clear: both;
}

.sub_con .loca ul li {
	float: left;
	position: relative;
	margin-right: 40px;
}

.sub_con .loca ul li:nth-child(1) img {
	margin-top: 2px;
}

.sub_con .loca ul li:after {
	right: -23px;
	top: 3px;
	position: absolute;
	display: block;
	content: "";
	background: url(../images/sub/loca_arr.jpg) no-repeat;
	width: 6px;
	height: 9px;
}

.sub_con .loca ul li:last-child:after {
	display: none;
}

.sub_con .loca ul li:last-chlid {
	margin-right: 0;
}

.sub_con .sub_tit {
	font-size: 32px;
	margin: 20px 0 40px 0;
	color: #222;
}

.sub_content_wrap .sub_con p {
	line-height: 21px;
}

.sub_con .tbul1 {
	line-height: 23px;
	margin-bottom: 10px;
	color: #222;
	position: relative;
	font-size: 20px;
	font-weight: 300;
	padding-top: 6px;
}

.sub_con .tbul1:after {
	display: block;
	content: "";
	background: #2ca838;
	width: 9px;
	height: 3px;
	position: absolute;
	top: 0;
	left: 0;
}

.sub_con .bul_type1 li {
	line-height: 23px;
	position: relative;
	padding-left: 10px;
	margin-bottom: 5px;
}

.sub_con .bul_type1 li:after {
	display: block;
	position: absolute;
	content: "";
	width: 3px;
	height: 3px;
	background: #888;
	border-radius: 50%;
	top: 9px;
	left: 0;
}

.sub_con .tbul2 {
	line-height: 23px;
	margin-bottom: 5px;
	background: url(../images/sub/tbul2.jpg) no-repeat 0 center;
	color: #2ca838;
	font-size: 16px;
	padding-left: 14px;
}

/* tab 메뉴 */
.tab_depth01 {
	margin-bottom: 40px;
}

.tab_depth01 ul:after {
	display: block;
	content: "";
	clear: both;
}

.tab_depth01 ul li {
	text-align: center;
	float: left;
	box-sizing: border-box;
	border-left: 1px solid #cacaca;
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
}

.tab_depth01 ul li:last-child {
	border-right: 1px solid #cacaca;
}

.tab_depth01 ul li a {
	transition: all 0.2s ease;
	padding: 12px 0;
	width: 100%;
	display: block;
}

.tab_depth01 ul li a:hover {
	background: #636b72;
	color: #fff;
}

.tab_depth01 ul li a.on {
	background: #636b72;
	color: #fff;
}

.tab_depth01 ul.n03 li {
	width: 33.33%;
}

/* 테이블 */
.tb_board {
	font-weight: 300;
	width: 100%;
	border: 0;
	border-collapse: collapse;
	margin-bottom: 20px;
	line-height: 1.5em;
}

.tb_board th {
	font-weight: 400;
	padding: 10px 5px 8px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #dcdcdc;
	border-top: 2px solid #333;
	background: #f7f7f7;
}

.tb_board td {
	border-right: 1px solid #dcdcdc;
	padding: 12px 5px 10px;
	border-bottom: 1px solid #dcdcdc;
	color: #555;
	text-align: center;
	font-size: 14px;
}

.tb_board tr:first-child td {
	border-top: 0
}

.tb_board td.tit {
	width: auto;
}

.tb_board td.r {
	text-align: right;
}

.tb_board .picture img {
	vertical-align: middle;
	padding-bottom: 3px;
}

.tb_board td a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tb_board .bnon {
	border-right: 0;
}

.tb_board2 {
	font-weight: 300;
	width: 100%;
	border: 0;
	border-collapse: collapse;
	margin-bottom: 20px;
	line-height: 1.5em;
}

.tb_board2 .btop {
	font-weight: 400;
	padding: 10px 5px 8px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #dcdcdc;
	border-top: 2px solid #333;
	background: #f7f7f7;
}

.tb_board2 .btop2 {
	font-weight: 400;
	padding: 10px 5px 8px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #dcdcdc;
	border-top: 2px solid #333;
}

.tb_board2 td, .tb_board2 th {
	border-right: 1px solid #dcdcdc;
	padding: 12px 5px 10px;
	border-bottom: 1px solid #dcdcdc;
	color: #555;
	text-align: center;
	font-size: 14px;
}

.tb_board2 td.tit {
	width: auto;
}

.tb_board2 td.r {
	text-align: right;
}

.tb_board2 .picture img {
	vertical-align: middle;
	padding-bottom: 3px;
}

.tb_board2 td a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tb_board2 .bnon {
	border-right: 0;
}

.tb_board2 tbody th {
	background: #f7f7f7;
	font-weight: 400;
}

.board_read {
	border-top: 2px solid #333;
	width: 100%;
	border-collapse: collapse;
	line-height: 1.5em;
}

.board_read thead th {
	background: #fafafa;
	padding: 10px 5px 8px;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}

.board_read thead th.title {
	text-align: center;
}

.board_read td {
	padding: 12px 5px 10px;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	color: #555;
	text-align: center;
	font-size: 13px;
	text-align: left;
}

.board_read thead td.rc {
	font-size: 12px;
}

.board_read thead td.rc span {
	background: url(board_line.gif) no-repeat 2px 6px;
	padding-left: 8px;
	display: inline-block;
}

.board_read thead td.rc span:nth-child(1) {
	background: none;
	margin: 0;
	padding: 0;
}

.board_read thead td.rc span strong {
	margin-right: 5px;
	color: #000;
}

.board_read thead td.attach_list {
	font-size: 12px;
}

.board_read thead td.attach_list img {
	margin-top: 2px;
}

.board_read tbody th {
	padding: 12px 5px 10px;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	color: #555;
	text-align: center;
	font-size: 13px;
	text-align: left;
	background: #fbfbfb;
}

.board_read th span.txtc_inreq {
	color: #ff6600;
}

.board_read tbody td input {
	border: 1px solid #d4d4d4;
	padding: 2px 3px;
}

.board_read tbody td textarea {
	border: 1px solid #d4d4d4;
	padding: 2px 3px;
}

.board_read tbody td select {
	border: 1px solid #d4d4d4;
	padding: 2px 3px;
}

.board_read tbody td select option {
	padding: 3px 5px;
}

/* 페이징 스타일 =============== */
.board-list-paging {
	margin-top: 20px;
	text-align: center;
	clear: both;
	width: 100%
}

.pagelist {
	font-size: 0;
	text-align: center;
	line-height: 110%;
	position: relative
}

.pagelist * {
	vertical-align: middle;
	line-height: 120%
}

.pagelist span {
	font-family: arial;
	color: #777 !important;
	font-size: 12px
}

.pagelist a span {
	cursor: pointer;
	display: block;
	width: 30px;
	height: 25px;
	line-height: 23px;
	padding-top: 5px;
	border: 1px solid #e2e2e2;
	border-left: 0
}

.pagelist strong, .pagelist a {
	display: inline-block;
	margin: 0;
	line-height: 120%;
	background: #fff
}

.pagelist strong span, .pagelist a.default:hover span {
	color: #fff !important;
	text-decoration: underline;
	border: 1px solid #e2e2e2;
	width: 30px;
	height: 25px;
	line-height: 23px;
	display: inline-block;
	vertical-align: middle;
	background: #1e64ba;
	padding-top: 5px;
	border-left: 0
}

/* .pagelist a:hover span.prevblock1,
.pagelist a:hover span.firstpage1 {border-right:1px solid #e2e2e2 !important; background-image:url(../images/sub/btn_page.gif) !important; background-repeat: no-repeat; text-decoration:none !important; border:0;} */
.pagelist .prevblock1 {
	height: 27px !important;
	margin-top: 0px !important;
}

.pagelist .firstpage1 {
	height: 27px !important;
	margin-top: 0px !important;
}

/* 버튼 */
.pagelist button {
	display: inline-block;
	margin-top: 2px;
	line-height: 120%;
	background: #fff;
	vertical-align: top;
	border: 0;
	width: 31px;
	height: 25px;
	overflow: visible
}

.pagelist button span {
	cursor: pointer;
	display: block !important;
	width: 30px;
	height: 25px;
	line-height: 23px;
	padding-top: 5px;
	border: 1px solid #d7d8d8;
	border-left: 0
}
/* .pagelist strong span, .pagelist button:hover span, .pagelist button:focus span, .pagelist button:active span {color:#fff !important;text-decoration:underline;border:1px solid #e2e2e2;width:30px;height:25px;display:inline-block;vertical-align:middle;background:#1e64ba;padding-top:5px;border-left:0}
 */
.pagelist .firstpage span, .pagelist .lastpage span, .pagelist .firstpage1 span,
	.pagelist .lastpage1 span, .pagelist .prevblock span, .pagelist .nextblock span,
	.pagelist .prevblock1 span, .pagelist .nextblock1 span, .pagelist .prevpage span,
	.pagelist .nextpage span, .pagelist .prevpage1 span, .pagelist .nextpage1 span
	{
	padding-top: 0px;
	border: 0px !important;
	background: none !important;
	visibility: hidden
}

.pagelist .firstpage, .pagelist .lastpage, .pagelist .firstpage1,
	.pagelist .lastpage1, .pagelist .prevblock, .pagelist .nextblock,
	.pagelist .prevblock1, .pagelist .nextblock1, .pagelist .prevpage,
	.pagelist .nextpage, .pagelist .prevpage1, .pagelist .nextpage1,
	.pagelist .beforepage, .pagelist .afterpage, .pagelist .beforepage1,
	.pagelist .afterpage1 {
	display: inline-block;
	margin-top: 0;
	background-image: url(../images/sub/btn_page.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 31px;
	overflow: hidden
}

/*비활성*/
.pagelist .firstpage1 {
	background-position: 0 -64px;
	border: 0
}

.pagelist .beforepage1 {
	background-position: -31px -64px;
	border: 0
}

.pagelist .prevblock1 {
	background-position: -31px -64px;
	border: 0
}

.pagelist .afterpage1 {
	background-position: -63px -64px;
	border: 0
}

.pagelist .nextblock1 {
	background-position: -63px -64px;
	border: 0
}

.pagelist .lastpage1 {
	background-position: -94px -64px;
	border: 0
}

/*활성*/
.pagelist .firstpage {
	background-position: 0 0;
	border: 0
}

.pagelist .beforepage {
	background-position: -31px 0;
	border: 0
}

.pagelist .prevblock {
	background-position: -31px 0;
	border: 0
}

.pagelist .afterpage {
	background-position: -63px 0;
	border: 0
}

.pagelist .nextblock {
	background-position: -63px 0;
	border: 0
}

.pagelist .lastpage {
	background-position: -94px 0;
	border: 0
}

/*모바일용 페이저*/
.pagelist .beforepage, .pagelist .beforepage1, .pagelist .afterpage,
	.pagelist .afterpage1 {
	display: none
}

.pagelist .beforepage span, .pagelist .beforepage1 span, .pagelist .afterpage span,
	.pagelist .afterpage1 span {
	visibility: hidden
}

/* 반응형 테이블 */
.scroll_info {
	display: none;
}

@media all and (max-width:520px) {
	.board_btn {
		margin-top: 10px;
	}
	.join_board>table {
		min-width: 520px;
		table-layout: fixed;
	}
	.auto_box>table {
		min-width: 520px;
		table-layout: fixed;
	}
	.auto_box {
		overflow-x: scroll
	}
	.scroll_info {
		display: block;
		background: #f4f4f4;
		position: relative;
		width: 100%;
		text-align: center;
		font-size: 12px;
		margin-bottom: 10px;
		padding: 16px 0;
	}
	.scroll_info .scroll_icon {
		margin-bottom: 8px;
		background: url(../images/sub/pointer.png) no-repeat center 0;
		width: 100%;
		height: 38px;
		display: inline-block;
	}
	.scroll_info .arr_l {
		margin-top: -12px;
		background: url(../images/sub/p_left.png) no-repeat;
		width: 56px;
		height: 27px;
		position: absolute;
		left: 17px;
		top: 50%;
	}
	.scroll_info .arr_r {
		margin-top: -12px;
		background: url(../images/sub/p_right.png) no-repeat;
		width: 56px;
		height: 27px;
		position: absolute;
		right: 17px;
		top: 50%;
	}
	.scroll_info .pinfo {
		padding: 0 80px;
		line-height: 17px;
		word-break: keep-all;
	}
	.tb_board td {
		overflow: visible;
		white-space: normal;
	}
	.tb_board td a {
		overflow: visible;
		white-space: normal;
	}
	.cart_none {
		display: none;
	}
}

/******************** pad *****************/
@media all and (max-width:1000px) {
	.sub_content .sub_content_wrap {
		width: 100%;
	}
	.sub_visual {
		display: none;
	}
	.sub_content .sub_content_wrap .l_menu_wrap {
		display: none;
	}
	.sub_content_wrap .sub_con .rsub {
		padding: 0;
	}
	.sub_content .sub_content_wrap .sub_con {
		margin-top: 0;
		float: none;
		width: 100%;
	}
	.sub_content_wrap .sub_con .loca {
		background: #f3f3f3;
		padding: 17px 0 10px 0;
		font-size: 13px;
	}
	.sub_content_wrap .sub_con .loca ul {
		padding: 0 20px;
	}
	.sub_content_wrap .sub_con .loca ul li {
		margin-bottom: 7px;
	}
	.sub_content_wrap .sub_con .con_mob_pad {
		padding: 0 20px;
	}
	.sub_con .sub_tit {
		font-size: 25px;
		margin: 20px 0 30px 0;
		color: #2d82b8;
	}
	.tab_depth01 {
		margin-bottom: 30px;
	}
}

/******************** mob *****************/
@media all and (max-width:767px) {
	.sub_content_wrap .sub_con .rsub {
		padding: 0;
	}
	.sub_content_wrap .sub_con .con_mob_pad {
		padding: 0 10px;
	}
	.board_read .mob_none {
		display: none;
	}
}

/******************** mob - 500 *****************/
@media all and (max-width:500px) {
}